
{% extends "base.html" %}
<!DOCTYPE html>
<html>
  <head>
{% block headcontent %}
    <link rel="stylesheet" href="/static/main.css" type="text/css" media="screen">
    <link rel="stylesheet" href="static/speakker.css"  type="text/css" media="screen">
    <link rel="stylesheet" href="static/mspeakker.css" type="text/css" media="screen">
    <script type="text/javascript" src="static/jquery.min.js"></script>
    <script type="text/javascript" src="static/projekktor.min.js"></script>
    <script type="text/javascript" src="speakker.min.js"></script>
    <script type="text/javascript" src="/static/main.js"></script>

{% endblock headcontent %}
   </head>

<body>
       

{% block bodycontent %}
       <div class="example">
        <h2>Mini player example (for single file)</h2>
        <div class="small_player"></div>
     </div>



 
{% endblock bodycontent %}
</body>

</html>

