{% extends "base.html" %}

{% block bodycontent %}
<div align=center><h1>Profile: {{user}}</h1></div>
<br>
<a class="pure-button pure-button-primary"href="/upload">Upload a Song</a>
<h3><u>
Artist Status</u>: {% if artist %} You have {{space}}mb left to upload songs. 
{% else %} You are not an artist {% endif %}
<br><br><u>
Your currently uploaded songs</u>:
<br>

{% for link in links %}
<li> {{link}} </li>
{% endfor %}
<br><br>
<u>
Songs you've liked</u>:
<br>

{% for like in likes %}
<li> {{like}} </li>
{% endfor %}


{% endblock bodycontent %}
