{% extends "base.html" %}

{% block bodycontent %}
<body>
Upload your songs here! <br> <br>
<form method="POST" enctype="multipart/form-data" >
Title: <input type="text" name="title" > <br>
<!-- Change this to a dropdown menu -->
Genre: <select name="genre">
  <option value="Alternative">Alternative</option>
  <option value="Country">Country</option>
  <option value="EDM">EDM</option>
  <option value="Rap">Rap</option>
  <option value="Rock">Rock</option>
  <option value="Other">Other</option>

  </select>
  <br>
File: <input type="file" name="file" accept="audio/*"> <br>
<input type="submit" value="Upload">
</form>
</body>
{% endblock bodycontent %}
